# Build and CMake
/build*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# vcpkg
/vcpkg_installed/
/vcpkg_downloads/
/vcpkg_buildtrees/
/vcpkg_packages/

# relevant paths
/dist/

# Binaries and objects
*.exe
*.dll
*.o
*.a
*.so
*.pdb

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db